:root {
     --cor-de-fundo: rgb(146, 16, 16);
     --cor-cabecalho: rgb(29, 116, 26);
     --fundo-menu: rgb(213, 226, 32); 
}

body {
    background-color:rgb(235, 100, 100);
}

 .cabecalho {
    background-color: rgb(187, 187, 187);
} 
  .cabecalho-titulo{
    font-size: 36px;
    font-weight: 700;
    padding: 12px;
    text-align: center;
}
  .cabecalho-menu {
    background-color: rgb(179, 231, 120);
}

  .cabecalho-menu-item {
    display:block ;
    font-size: 24px;
    text-decoration:none;
    color: maroon;
    padding: 10px;
    text-align: center;
    border-top: 1px solid;
}

#burguer {
  background-color; text-rendering: (71, 71, 255);
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  }
  #menu {
  display: none;
  }